@import 'configs';
@import 'utilities';

html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 2rem;
  background-color: $primary-color;

  &-brand {
    font-weight: 700;
    display: block;
  }

  &-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 1rem;

    li {
      margin-left: 2rem;
    }
  }

  a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;

    &:hover {
      border-bottom: 1px solid #fff;
    }
  }
  &-hamburger {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .navbar {
    padding: 0.5rem 1rem;

    &-menu {
      display: none !important;
    }

    &-hamburger {
      display: block;
    }
  }
}

@media screen and (max-width: 360px) {
  .navbar {
    justify-content: center;
    padding: 1rem;
  }

  .navbar ul {
    display: none !important;
  }
}

/* Banner */

.banner {
  background-color: $primary-color;
  padding: 2rem;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.banner h1,
.banner p {
  margin: 5px;
}

/* Articles */
.articles {
  padding: 1rem 0;
}

@media screen and (max-width: 750px) {
  .articles {
    // grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .articles {
    grid-template-columns: repeat(1, 1fr);
  }
}

// Article
article {
  padding: 0 4rem;

  p {
    text-align: justify;
    margin-bottom: 10px;
  }

  h1,
  h2,
  h3 {
    text-transform: capitalize;
  }
}

// Not Found
.notfound {
  text-align: center;

  h1 {
    font-size: 7rem;
    margin: 0;
    color: $primary-color;
  }

  p {
    margin: 0;
  }
}
