html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

article p {
  text-align: justify;
  margin-bottom: 10px;
}

article h1,
h2,
h3 {
  text-transform: capitalize;
}

img,
svg {
  vertical-align: middle;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar span {
  font-weight: 700;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.navbar li {
  margin-left: 2rem;
}

.navbar a {
  text-decoration: none;
  color: #000;
}

.navbar a:hover {
  border-bottom: 2px solid #4169e1;
}

/* Utiltieys */

.container {
  padding: 0 2rem;
}

.banner {
  background-color: #4169e1;
  padding: 2rem;
  color: #fff;
  text-align: center;
}

.banner h1,
p {
  margin: 5px;
}

/* Articles */
.articles {
  padding: 2rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 750px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .articles {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* .article {
  /* border: 1px solid #333; */
/* text-align: center;
} */

*/ img {
  width: 100%;
}

/* .article h3 {
  margin: 0;
} */

/* Add-Button */
.add-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 50%;
  border: 0;
  background-color: royalblue;
  color: #fff;
}

.add-btn:hover {
  opacity: 0.8;
}

/* Buttons */
.btn {
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: royalblue;
  color: #fff;
  text-decoration: none;
  display: block;
  width: max-content;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn-wide {
  width: 100%;
}

/* Forms */

.form > div {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Cards */
.card {
  display: flex;
  flex-direction: column;
  border: 1px rgba(0, 0, 0, 0.175) solid;
  border-radius: 5px;
}

.card-body {
  flex: 1 1;
  padding: 0 1rem 1rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-anchor: middle;
}

/* Footer  */
/* footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
} */
