.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  border-bottom: 1px solid #dee2e6;
  background-color: #fff;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  .navbar-brand {
    font-weight: 800;
  }

  .navbar-toggler {
    font-size: 0.75rem;
    font-weight: 800;
    padding: 0.75rem;
    text-transform: uppercase;
  }

  .navbar-nav > li.nav-item > a.nav-link {
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
  }
}

@media (min-width: 992px) {
  .navbar {
    border-bottom: 1px solid transparent;
    background: transparent;

    .navbar-brand {
      color: #fff;

      &:focus,
      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .navbar-nav > li.nav-item > a.nav-link {
      color: #fff;
    }

    .navbar-nav > li.nav-item > a.nav-link:focus,
    .navbar-nav > li.nav-item > a.nav-link:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

@media (min-width: 992px) {
  .navbar {
    transition: background-color 0.2s;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar.is-fixed {
    position: fixed;
    top: -83px;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);

    .navbar-brand {
      color: #212529;

      &:focus,
      &hover {
        color: #0085a1;
      }
    }
    .navbar-nav > li.nav-item > a {
      color: #212529;

      &:focus,
      &:hover {
        color: #0085a1;
      }
    }
  }

  .navbar.is-visible {
    transform: translate3d(0, 100%, 0);
  }
}
